<footer>
    <nav>
        <ul class="sociais">
            <li><a target="_blank" href="https://www.instagram.com/cayo_henri/"><i
                        class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/caio-henrique-67a050244/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
            <li><a target="_blank" href="https://mail.google.com/mail/"><i class="fa-solid fa-envelope"></i></a></li>
            <li><a target="_blank" href="https://github.com/caio1459"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </nav>
    <h3>Compartilhe o seus melhores momentos!</h3>
    <p>Produzido por Caio Henrique&copy; - 2023</p>
</footer>